<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Apps 1</title>
</head>
<body>
    <div id = "app">
        <h1>Weather app</h1>
        Search for city<br>
        <input v-model="search" placeholder="city,country">
        <button v-on:click="searchWeather">Search for weather in {{search}}</button>
        <template v-if="gotResponse">
            <br>Weather for {{search}}
            <template v-if="packForRain">
                <br>You should pack an umbrella!
            </template>
            <template v-if="averageTemp<10">
                <br>You should pack for cold weather!
            </template>
            <template v-else-if="10<=averageTemp && averageTemp<=20">
                <br>You should pack for warm weather!
            </template>
            <template v-else>
                <br>You should pack for hot weather!
            </template>
            <br>Average temperature : {{averageTemp}}
            <!--<br>{{weatherData}}-->
        </template>
           
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                message:"Hello test",
                pastSearches: [],
                weatherData:"",
                gotResponse:false,
                packForRain:false,
                temperatureArray:[],
                averageTemp:0,
                rainArray:[],
                windArray:[],
                dates: [],
                search:""
            },
            methods:{
                searchWeather: getWeather
            }
        })

        function getWeather(){
            console.log("Function called");
            let p = fetch(`/${this.search}`);
            p.then(response => response.json())
            .then(response => {
                this.weatherData = response.data.list;
                this.pastSearches.push(response.data);
                this.gotResponse=true;
    
                //Rain check
                for(const entry of this.weatherData){
                    if(entry["weather"][0]["main"]==="Rain"){
                        this.packForRain=true;
                        break;
                    }
                    this.packForRain=false;
                }

                let tempArray = [];
                let acc = 0
                for(const entry of this.weatherData){
                    this.temperatureArray.push(entry["main"]["temp"]);
                    acc = entry["main"]["temp"] + acc;
                }
                this.averageTemp = acc / this.weatherData.length;

            });
        }
    </script>
</body>
</html>