<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Apps 1</title>
</head>
<body>
    <div id = "app">
        <h1>Weather app</h1>
        Search for city<br>
        <input v-model="search" placeholder="city,country">
        <button v-on:click="searchWeather">Search for weather in {{search}}</button>
        <template v-if="gotResponse">
            <br>Weather for {{search}}
            <br>{{weatherData}}
        </template>
           
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                message:"Hello test",
                pastSearches: [],
                weatherData:"",
                gotResponse:false,
                temperatureArray:[],
                rainArray:[],
                windArray:[],
                dates: [],
                search:""
            },
            methods:{
                searchWeather: getWeather
            }
        })

        function getWeather(){
            console.log("Function called");
            let p = fetch(`/${this.search}`);
            p.then(response => response.json())
            .then(response => {
                this.weatherData = response.data.list;
                this.pastSearches.push(response.data);
                this.gotResponse=true;
            
               // console.log(this.weatherData.list);
                for(var i = 0; i<this.weatherData.length; i++){
                    console.log(this.weatherData[i]["dt_txt"]);
                }
            });
        }
    </script>
</body>
</html>